@font-face {
    font-family: 'Circe ExtraBold';
    src: url('../fonts/Circe-ExtraBold.eot');
    src: url('../fonts/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-ExtraBold.woff') format('woff'),
    url('../fonts/Circe-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Light';
    src: url('../fonts/Circe-Light.eot');
    src: url('../fonts/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Light.woff') format('woff'),
    url('../fonts/Circe-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circe Regular';
    src: url('../fonts/Circe-Regular.eot');
    src: url('../fonts/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe-Regular.woff') format('woff'),
    url('../fonts/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFHandbookPro Medium';
    src: url('../fonts/PFHandbookPro-Medium.eot');
    src: url('../fonts/PFHandbookPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PFHandbookPro-Medium.woff') format('woff'),
    url('../fonts/PFHandbookPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@mixin CirceExtraBold {
    font-family: 'Circe ExtraBold', sans-serif;
}

@mixin CirceLight {
    font-family: 'Circe Light', sans-serif;
}

@mixin CirceRegular {
    font-family: 'Circe Regular', sans-serif;
}

@mixin PFHandbookProMedium {
    font-family: 'PFHandbookPro Medium', sans-serif;
}
